<div class="container">
    <div class="data-adicionar">
        <div class="titulo">
            <h1>Seus Dados</h1>            
        </div>
        <mat-divider style="margin: 1rem 0rem;"></mat-divider>

    </div>
    <div class="dados">
        <div class="dado">
            <div class="label">
                <mat-icon class="icon-perfil">person</mat-icon>
                <h3>Nome</h3>
            </div>
            <h3>{{usuarioLogado.nome}}</h3>
        </div>
        <div class="dado">
            <div class="label">
                <mat-icon class="icon-perfil">email</mat-icon>
                <h3>E-mail</h3>
            </div>
            <h3>{{usuarioLogado.email}}</h3>
        </div>
        <div class="dado">
            <div class="label">
                <mat-icon class="icon-perfil">info</mat-icon>
                <h3>Tipo</h3>
            </div>
            <h3>{{usuarioLogado.tipo}}</h3>
        </div>
    </div>
</div>
