.container {
    max-width: 423px;
}

.titulo {
    display: flex;
    align-items: center;
    padding: .5rem;
    margin-bottom: 1rem;
}

h3 {
    margin: 0;
    color: whitesmoke;
}

.titulo > h1 {
    margin: 0;
    color: var(--primary-dark);
    font-size: x-large;
}


.icon-perfil {
    color: whitesmoke;
}

.dados {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-dark);
    border-radius: .5rem;
}

.dado {
    display: flex;
    flex-direction: column;
}

.dado > h3 {
    color: var(--secondary-text-dark);
}

mat-divider {
    margin-bottom: 1rem;
}









