<div class="container">
    <div class="titulo">
        <h1>Seus Dados</h1>            
    </div>
    <form #usuarioEditar="ngForm" class="dados" (submit)="editar(usuarioEditar)">
        
        <mat-form-field class="dado" color="accent" appearance="outline">
            <mat-icon matSuffix class="icon-perfil">person</mat-icon>
            <mat-label>Nome</mat-label>
            <input matInput [formControl]="nome" id="nome" style="color: var(--secondary-text-dark);">
        </mat-form-field>
        <mat-divider></mat-divider>

        <mat-form-field class="dado" color="accent" appearance="outline">
            <mat-icon matSuffix class="icon-perfil">email</mat-icon>
            <mat-label>E-mail</mat-label>
            <input matInput [formControl]="email" id="email" style="color: var(--secondary-text-dark);">
        </mat-form-field>
        <mat-divider></mat-divider>

        <mat-form-field class="dado" color="accent" appearance="outline">
            <mat-icon matSuffix class="icon-perfil">info</mat-icon>
            <mat-label>Role</mat-label>
            <input matInput disabled="true" [value]="headerService.usuarioLogado.tipo" id="nome" style="color: var(--secondary-text-dark);" >
        </mat-form-field>

        <mat-divider></mat-divider>
        <button [disabled]="!isValid()" type="submit" mat-raised-button color="accent">Enviar</button>
        <a routerLink="/senha">Alterar senha</a>
    </form>
</div>
