.container {
    max-width: 423px;
    background-color: transparent;
    border: 1px solid var(--accent-dark);
}

.titulo {
    color: var(--primary-dark);
}

mat-divider {
    margin-top: 1rem;
}

.btn-login {
    padding: .5rem;
    width: 100%;
}

.cadastro-link {
    padding-top: 1.5rem;
    text-align: center;
    color: var(--secondary-text-dark);
}

a {
    text-decoration: none;
    color: var(--primary-dark);
}

a:hover {
    text-decoration: underline;
}

